fastapi==0.115.9
uvicorn==0.34.2
requests==2.31.0
python-multipart==0.0.9
firebase-admin==6.4.0
langchain==0.1.15
langchain-community==0.0.34
langchain-core==0.1.42
langchain-chroma==0.2.4
chromadb==0.4.24
unstructured==0.12.5
pypdf==3.17.3
langchain-huggingface==0.0.6
langchain-ollama==0.0.4
python-dotenv==1.0.1
matplotlib==3.8.0
